@use "./variable.scss" as variable;

:root {
    --vp-font-family-base: jxp, Moe-Mashiro
        /* 普通文本字体 */
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: variable.$theme-skin;
    background-color: transparent;
    outline: 0;
    transition: color .2s ease-out, border .2s ease-out, opacity .2s ease-out;
    word-break: break-word;

    &:hover {
        outline: 0;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-size: 15px;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: jxp, Moe-Mashiro;
    color: variable.$theme-skin;
    background: #0000;
    background-position: center;
    text-shadow: 0 0 1px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    line-height: 1.5;
    background-attachment: fixed;


    ol,
    ul {
        box-sizing: border-box;
    }

    ul,
    li {
        text-align: center;
    }

    h1::before {
        display: block;
        margin-top: -80px;
        height: 80px;
        visibility: hidden;
        content: " ";
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        clear: both;
    }

}